body {
  background: #111;
  color: #eee;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

/* NAVBAR */
nav {
  background: #181818;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #4fc3f7;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 18px 25px;
  display: inline-block;
}

/* HEADER */
.header {
  text-align: center;
  margin-top: 40px;
}

.profile-img {
  border-radius: 50%;
  width: 320px;
  height: 320px;
  object-fit: cover;
  box-shadow: 0 6px 24px rgba(0,0,0,0.8);
  transition: 0.3s;
}

.profile-img:hover {
  box-shadow: 0 8px 40px 0 #4fc3f7;
}

h1{
  color: #ffffff;
  font-size: 3.5rem;
}
h2{
  color: #4fc3f7;
   
}


/* HIGHLIGHT */
mark {
  background-color: #4fc3f7;
  color: #111;
  border-radius: 4px;
  padding: 0 4px;
  cursor: pointer;
  transition: 0.3s;
}

mark:hover {
  box-shadow: 0 0 16px 4px #4fc3f7;
  background-color: #81d4fa;
}

/* ABOUT */
.about-section {
  background: #1a1a1a;
  padding: 70px 0;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
}

.about-img {
  width: 320px;
  height: 320px;
  border-radius: 12px;
  object-fit: cover;
  transition: 0.5s;
}

.about-text {
  max-width: 450px;
  opacity: 0;
  transform: translateX(40px);
  transition: 0.6s;
}

.about-container:hover .about-img {
  transform: translateX(-40px);
}

.about-container:hover .about-text {
  opacity: 1;
  transform: translateX(0);
}

#typing-text {
  font-size: 1.2rem;
  line-height: 1.6;
  border-right: 3px solid #4fc3f7;
  overflow: hidden;
}

/* PROJECT */
.project {
  background: #222;
  padding: 40px 0;
  text-align: center;
}

.project p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2rem;
  color: #ccc;
}

/* CONTACT */
.contact {
  background: #1a1a1a;
  padding: 40px 0;
  text-align: center;
}

.contact a {
  color: #4fc3f7;
  text-decoration: none;
}
